{% extends "layouts/main.html.j2" %}

{% block body %}
    <h2>Binder Flask Demo</h2>

    {% for user in users %}
        {% for post in user.posts %}
            <dynamic-frame :url="/frames/post/{{ post.id }}" :render-on-init="0" :contained :state-key="post_{{ post.id }}">
                {% include '/frames/post/view.html.j2' %}
            </dynamic-frame>
        {% endfor %}
    {% endfor %}
{% endblock body %}
